<p></p>
<header>
<img style="width:200px;height:auto" src="http://barcamp.org/f/1226374475/barcamp_logo.png" />
            <h2>Bringing the Clouds together : Cloud Services Integration and Brokerage</h2>
            <span>Barcamp 12 Bangalore</span>
        </header>

<iframe src="//www.slideshare.net/slideshow/embed_code/key/vsij1JBJid2Oy5" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
