<p></p>
<header>
<img style="width:200px;height:auto" src="https://droidcon.in/_themes/droidcon2016/img/logo-thumbnail.png" />
            <h2>Humanize the Android</h2>
            <span>Droidcon 2011 India</span>
        </header>
<iframe src="//www.slideshare.net/slideshow/embed_code/key/3CbKD9tFYpP36E" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> 