<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h2>Bachelor of Engineering (Computer Science)</h2>
            <span><a href="https://en.wikipedia.org/wiki/Visvesvaraya_Technological_University" target="blank">Visvesvaraya Technological University</a></span>
            <span><address>Bangalore, India</address><time>2002 to 2006</time></span>
        </header>
            <span><time>Project: Natural Language Interface to UNIX OS</time></span>
        
    </article>
</section>
