<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h2>Engineering Manager</h2>
            <span><address><a href="http://www.zalando.de" target="blank">Zalando</a>, Berlin, Germany</address><time>2017 to Present</time></span>
        </header>
        <p>I lead the engineering teams in the Zalando Fashion store. My responsibilities include software delivery management, people management and driving the technical roadmap. </p>
    </article>    
    <article>
        <header>
            <h2>Lead Engineer (Container Platform)</h2>
            <span><address><a href="http://company.gsshop.com/en/" target="blank">GS Shop</a>, Seoul, South Korea</address><time>2015 to 2017</time></span>
        </header>
        <p>Lead the development efforts of an Enterprise Platform as a service, built around Containers. My responsibilities include architecture, design, product roadmap, tool evaluation and implementation of continuous delivery infrastructure. </p>
            <span><time><b>Technologies: </b>Python, Go, Docker, Mesos, Marathon, HAProxy, Jenkins, ELK, Git</time></span>

    </article>
    <article>
        <header>
            <h2>Software Architect (E-Commerce)</h2>
            <span><address><a href="http://company.gsshop.com/en/" target="blank">GS Shop</a>, Seoul, South Korea</address><time>2013 to 2015</time></span>
        </header>
        <p>Led the development efforts of a next generation B2B2C e-commerce platform in Korea. My responsibilities include architecture, design, product roadmap, and supporting infrastructure. </p>
            <span><time><b>Technologies: </b>Java, Kafka, Spring, Jenkins, MongoDB, SVN</time></span>

    </article>
    <article>
        <header>
            <h2>Technical Lead (Cloud and Mobility)</h2>
            <span><address><a href="http://www.thbs.com/" target="blank">Torry Harris</a>, Bangalore, India</address><time>2011 to 2013</time></span>
        </header>
        <p>Led the development efforts for multiple cloud services adoption by varied customers. Helped implement mobile apps with cloud backend services. My responsibilities include research, design and implementation of solutions. I also helped with training engineers with different cloud and mobile technology stacks. </p>
            <span><time><b>Technologies: </b>Java, AWS, Android, MongoDB, Cloudstack</time></span>

    </article>
    <article>
        <header>
            <h2>Lead Engineer (Cloud Services)</h2>
            <span><address><a href="http://www.thbs.com/" target="blank">Torry Harris</a>, Bangalore, India</address><time>2010 to 2011</time></span>
        </header>
        <p>Owned the implementation of a cloud platform to provide on-demand dev and test environments for developers. My responsibilities include architecture, design, implementation of the platform system. I also helped the developers to use the platform to provision the environments. 
        </p>
            <span><time><b>Technologies: </b>Python, Eucalyptus, AWS, Java</time></span>

    </article>
    <article>
        <header>
            <h2>Engineer (Software Services)</h2>
            <span><address><a href="http://www.thbs.com/" target="blank">Torry Harris</a>, Bangalore, India</address><time>2006 to 2010</time></span>
        </header>
        <p> Worked as a software developer across multiple projects for customers across varied domains: manufacturing, finance and e-governance.
        </p>
            <span><time><b>Technologies: </b>Java, Spring, Hibernate, Oracle, Javascript</time></span>

    </article>
</section>
