<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Lead Engineer (Container Platform)</h1>
            <span><address>GS Shop, Seoul, South Korea</address><time>2015 to Present</time></span>
        </header>
        <p>Lorem ipsum dolor sit amet, his et viris petentium philosophia,
            at vix debitis deleniti. At vis velit volumus alienum, agam vocent assueverit usu ex. </p>
    </article>
    <article>
        <header>
            <h1>Software Architect (E-Commerce)</h1>
            <span><address>Symphony Teleca, Seoul, South Korea</address><time>2014 to 2015</time></span>
        </header>
        <p>Qui bonorum menandri intellegebat ex, mel quando oblique an. Et eam virtute debitis philosophia,
            unum ancillae disputationi vim in. Ipsum vidisse meliore ex eum,
            delectus tacimates conclusionemque has ei. Eam ubique cetero scribentur ne.</p>
    </article>
    <article>
        <header>
            <h1>Solutions Architect (Cloud)</h1>
            <span><address>Symphony Teleca, Bangalore, India</address><time>2013 to 2014</time></span>
        </header>
        <p>Latine bonorum deserunt at nam. Mea nisl officiis eu, propriae similique has te, mei an brute meliore electram.
            Quo admodum omittantur ei, etiam principes at eos. Sit vocent commodo ceteros in, at mel idque everti.</p>
    </article>
    <article>
        <header>
            <h1>Technical Lead (Cloud and Mobility)</h1>
            <span><address>Torry Harris, Bangalore, India</address><time>2011 to 2013</time></span>
        </header>
        <p>Mucius sententiae et mei, nec an diam ignota, tale epicurei intellegebat ne sit. Sumo pertinacia contentiones duo ei.</p>
    </article>
    <article>
        <header>
            <h1>Lead Engineer - Cloud Services</h1>
            <span><address>Torry Harris, Bangalore, India</address><time>2010 to 2011</time></span>
        </header>
        <p> Et sed tritani volumus, dico rebum facilisis ea sed. His mundi efficiantur concludaturque no.
            Cu eos argumentum constituam repudiandae, eu eum lorem nostrum, ei mel dicam iriure fabellas.
        </p>
    </article>
    <article>
        <header>
            <h1>Engineer - Software Services</h1>
            <span><address>Torry Harris, Bangalore, India</address><time>2006 to 2010</time></span>
        </header>
        <p> Et sed tritani volumus, dico rebum facilisis ea sed. His mundi efficiantur concludaturque no.
            Cu eos argumentum constituam repudiandae, eu eum lorem nostrum, ei mel dicam iriure fabellas.
        </p>
    </article>
</section>
