<section class="thirteen columns">
    <h1>Initiatives</h1>
    <article>
        <header>
            <h1>Founder, AWS User Group</h1>
            <span><address>Bangalore, India</address><time>2011</time></span>
        </header>
        <p>
            Formed the second largest AWS User group in the world with over 2000 members. Helped the group by taking technical sessions, formed growth strategies, managed events and community outreach.
        </p>
    </article>
    <article>
        <header>
            <h1>Microsoft Student Partner</h1>
            <span><address>Sapthagiri College of Engineering, Bangalore, India</address><time>2004</time></span>
        </header>
        <p>
            Worked as the student representative for Microsoft to conduct events and activities around .NET platform. Helped engineering students understand .NET Platform by conducting demos and workshops.
        </p>
    </article>
    <article>
        <header>
            <h1>Founder, Technical Club</h1>
            <span><address>Sapthagiri College of Engineering, Bangalore, India</address><time>2013</time></span>
        </header>
        <p>
            Formed a student group to conduct demos, workshops and competitions around emerging technologies. Helped the group to associate with leading technology communities like INETA and O'Reilly UG. 
        </p>
    </article>
</section>