<section class="thirteen columns">
    <h1>Initiatives</h1>
    <article>
        <header>
            <h2>Founder, AWS User Group</h2>
            <span><address>Bangalore, India</address><time>2011</time></span>
        </header>
        <p>
            Formed the <a href="http://www.meetup.com/awsugblr/" target="blank">second largest AWS User group</a> in the world with over 2000 members. Helped the group by taking technical sessions, formed growth strategies, managed events and community outreach.
        </p>
    </article>
    <article>
        <header>
            <h2>Microsoft Student Partner</h2>
            <span><address>Sapthagiri College of Engineering, Bangalore, India</address><time>2004</time></span>
        </header>
        <p>
            Worked as the <a href="https://en.wikipedia.org/wiki/Microsoft_Student_Partners" target="blank">student representative</a> for Microsoft to conduct events and activities around .NET platform. Helped engineering students understand .NET Platform by conducting demos and workshops.
        </p>
    </article>
    <article>
        <header>
            <h2>Founder, Technical Club</h2>
            <span><address>Sapthagiri College of Engineering, Bangalore, India</address><time>2013</time></span>
        </header>
        <p>
            Formed a <a href="http://fci.wikia.com/wiki/Bangalore/SCE" target="blank">student group</a> to conduct demos, workshops and competitions around emerging technologies. Helped the group to associate with leading technology communities like INETA and O'Reilly UG. 
        </p>
    </article>
</section>