<p></p>
<header>
<img style="width:200px;height:auto" src="https://dl.dropboxusercontent.com/s/c0y93on3vugffne/mesoscon_asia.jpg?dl=0" />
            <h2>Using Mesos to drive DevOps at GSShop</h2>
            <span>MesosCon Asia 2016 Hangzhou, China</span>
        </header>

<iframe width="708" height="400" src="https://www.youtube.com/embed/6DfXROnvq10" frameborder="0" allowfullscreen></iframe>

<iframe src="//www.slideshare.net/slideshow/embed_code/key/B1EzhvfmVU5D6L" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/vivekjuneja/driving-devops-at-gs-shop-using-mesos" title="Driving DevOps at GS Shop using Mesos" target="_blank">Driving DevOps at GS Shop using Mesos</a> </strong> from <strong><a target="_blank" href="//www.slideshare.net/vivekjuneja">Vivek Juneja</a></strong> </div>

