<article>

 <section class="portfolio-secti on h-item">	
		<div class="info">
			<h2 class="title">No More Voodoo Testing: VAMP Brings Canary Releases to Container Orchestration</h2>
			<p>With the rise of containers, microservices, and resilience engineering practices, organizations are eager to enjoy the benefits of continuous deployment.</p>
			<a href="http://thenewstack.io/no-voodoo-testing-vamp-brings-canary-releases-container-orchestration/">Read More</a>
		</div>
	</section>

	
</article>

