<article>

 <section class="portfolio-secti on h-item">	
		<div class="info">
			<h2 class="title">Reactive Frameworks, Microservices, Docker and Other Necessities for Scalable Cloud Native Applications</h2>
			<p>A lot of startups go wrong when adopting cloud services. For starters, the cloud becomes yet another hosting provider with more competitive rates.</p>
			<a href="http://thenewstack.io/reactive-frameworks-microservices-docker-and-other-necessities-for-scalable-cloud-native-applications/">Read more</a>
		</div>
	</section>

	
</article>

