<article>

 <section class="portfolio-secti on h-item">	
		<div class="info">
			<h2 class="title">Monitoring, Microservices, Self-Healing and the Connection to “AntiFragile” Systems</h2>
			<p>Nassim Nicholas Taleb’s bestseller AntiFragile has been the source of inspiration for practitioners in various fields, software included.</p>
			<a href="http://thenewstack.io/monitoring-microservices-self-healing-and-the-connection-to-antifragile-systems/">Read more</a>
		</div>
	</section>

	
</article>

