<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="theme-base-08">

    {% include sidebar.html %}

<div class="container">
    <header class="three columns">
        <h1>{{ site.name }}</h1>
        <p>
            <a href="{{ site.website_full }}">{{ site.website }}</a><br/>
        </p>
        <p>
            <a href="{{ site.email_full }}">{{ site.email }}</a><br/>
            <a href="https://twitter.com/{{ site.twitter }}"><i class="fa fa-twitter"></i> Twitter</a><br />
            <a href="https://kr.linkedin.com/in/geekcloud"><i class="fa fa-twitter"></i> LinkedIn Profile</a>
        </p>
    </header>
    <div class="thirteen columns clearfix">

        {{ content }}

 
    </div>
</div>


  </body>
</html>	
